.nav {
  overflow: hidden;
  padding: 30px 0 10px;
}

.nav-logo {
  margin: 0;
  display: inline-block;
}

.nav ul {
  height: 32px;
  float: right;
  line-height: 32px;
}

.nav li {
  display: inline-block;
  margin-left: 40px;
}

.nav a {
  display: inline-block;
  color: #dbdde6;
}
