
.banner {
  padding: 100px 0 100px;
  h2{
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  p{
    font-weight:100;
    font-size: 20px;
  }
}

.banner-logo {
  height: 220px;
}

.banner-button {
  padding-top: 50px;
}

.version {
  background: #F6F8F8;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 1px 0px 0px rgba(225,225,225,0.50);
  a{
    color: #131926;
    font-weight: bold;
  }
}

.version span {
  padding: 0 30px;
  color: #71747B;
}

.info {
  padding: 100px 0;
}

.info h3 {
  font-weight: normal;
}

.info h4 {
  font-weight: 500;
  color: #333333;
  font-size: 24px;
}

.info ul {
  padding-top: 60px;
}

.info-img {
  height: 100px;
}

.info li {
  display: inline-block;
  width: 300px;
}
